.tytul {
    font-size: 18pt;
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    grid-column: lewa / prawa;
    grid-row: gora / srodek;
    margin: 0;
    padding: 10px;
}

.tresc {
    font-size: 12pt;
    color: rgb(55, 0, 0);
    font-style: italic;
    padding: 10px;
    background-color: bisque;
    grid-column: lewa / srodek;
    grid-row: srodek / dol;
    grid-template-columns: [lewa] 20px [srodek-lewa] auto [srodek-prawa] 20px [prawa];
    display: grid;
}

.forma {
    display: grid;
    grid-template-columns: [lewa] 100px [srodek] auto [prawa];
    gap: 20px;
}

.kafle {
    display: grid;
    grid-template-columns: [lewa] 1fr [srodek] 1fr [prawa];
    gap: 20px;
    width: 100%;
    grid-column: srodek-lewa / srodek-prawa;
}

.mini-kafle {
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.menu {
    grid-column: srodek / prawa;
    grid-row: srodek / dol;
    background-color: darkgray;
    padding: 10px;
}

.stopka {
    grid-row: dol / dol-koniec;
    grid-column: lewa / prawa;
    background-color: black;
    color: white;
    padding: 10px;
}

.artykul {
    grid-column: srodek-lewa / srodek-prawa;
}

.tresc.normalny , .tytul.normalny {
    font-weight: normal;
    font-style: normal;
}

.pogrubiony {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.poprawej {
    grid-column: srodek / prawa;
}

.polewej {
    grid-column: lewa / srodek;
}

.powiekszony {
    font-size: 20px;
    color: red;
}

.pomniejszony {
    font-size: 10px;
    color: rgb(0, 255, 55);
}

.kafel__dzial {
    background-color: violet;
    color: white;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*width: 100px;*/
    padding: 8px 16px ;
    display: inline-block;
    position: absolute;
    top: 86px;
}

.link {
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    /* color: rgba(0,0,0); */
    right: 10px;
    left: 10px;
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 10px;
    font-weight: bold;
}

.link:hover {
    color: rgb(204, 0, 0);
    text-decoration: underline;
}

.kafel {
    background-image: url('img/samochod.webp');
    width: 300px;
    padding: 10px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    position: relative;
    display: inline-block;
}

.kafel--maly {
    width: 200px;
    height: 138px;
}

.kafel__dzial--prawogora {
    top: 10px;
    right: 10px;
    background-color: green;
}

.siatka {
    display: grid;
    grid-template-columns: [lewa] auto [srodek] 200px [prawa];
    grid-template-rows: [gora] 150px [srodek] auto [dol] 50px [dol-koniec];
}
