.tylul {
    font-size: 18pt;
    color: red;
}

.tresc {
    font-size: 12pt;
    color: rgb(55, 0, 0);
    font-style: italic;
}

.tresc.normalny , .tytul.normalny {
    font-weight: normal;
    font-style: normal;
}

.pogrubiony {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.dzial {
    background-color: violet;
    color: white;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*width: 100px;*/
    padding: 8px 16px ;
    display: inline-block;
    position: absolute;
    top: 86px;
}

.link {
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    /* color: rgba(0,0,0); */
    right: 10px;
    left: 10px;
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 10px;
    font-weight: bold;
}

.link:hover {
    color: rgb(204, 0, 0);
    text-decoration: underline;
}

.kafel {
    background-image: url('img/samochod.webp');
    width: 300px;
    padding: 10px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    position: relative;
    display: inline-block;
}