.tylul {
    font-size: 18pt;
    color: red;
}

.tresc {
    font-size: 12pt;
    color: rgb(55, 0, 0);
    font-style: italic;
}

.tresc.normalny , .tytul.normalny {
    font-weight: normal;
    font-style: normal;
}

.pogrubiony {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.dzial {
    background-color: violet;
    color: white;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*width: 100px;*/
    padding: 8px 16px ;
    display: inline-block;
}

.link {
    font-size: 12pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: rgb(204, 0, 0);
    text-decoration: underline;
}