tr {
    background-color: chartreuse;
}

p {
    color:blue;
}

tbody tr > td {
    background-color: red;
}

td + td {
    color: white;
}

h1 ~ p {
    background-color: brown;
}

h1[class="naglowekTabela"] {
    background-color: red;
}

/*h1.naglowekTabela.test {
   background-color: red;
}*/

/*h1.naglowekTabela#pop {

}
*/

/*#pop {

}*/

td[colspan="4"] {
    background-color: yellow;
}

td[rowspan] {
    background-color: yellow;
}

h1[id="pop"] {
    background-color: green;
}

/*h1#pop {

}*/

/*#pop {
    background-color: violet;
}*/

